{% extends 'base.html' %}

{% block title %}Search by Protein ID{% endblock %}

{% block header_title %}
    <h2 class="wow fadeInDown">
        <i class="fa fa-search"></i> Local Similarity Search by Protein ID
    </h2>
{% endblock %}

{% block content %}
    <br/><br/>
    <form name="displayform" method="POST">
        {% csrf_token %}

        <div class="centered">
            <h4>Select PDB IDs you want to search for common keys: </h4>
            <code>Press CTRL and click to select multiple from the list</code>
        </div><!--centered-->
        <br/><br/>
        <div class="centered">
            {% for field in form %}
                {% if field.name == 'classes' %}
                    <select id="list3" name="list3" size=10 style="min-width: 500px"
                            multiple="multiple" onclick='list3Changed(this.value);'>
                        {% for value, label in field.field.choices %}
                            {% if label != 'default' %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% else %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                {% endif %}
            {% endfor %}
            <br/><br/>
            <p id="demo3"></p>
            <br/><br/>
            <div class="row">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Search
                </button>
            </div><!--row-->
        </div><!--centered-->
    </form>
    <br/><br/>
    <div class="row">
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            Our protein table contains TSR keys which is selected based on two conditions:
            Mean Absolute Deviation &#60;= 0.01 and Document Frequency &#60; 6</br/>
        </div><!--alert-->
    </div><!--row-->
{% endblock %}



{% block javascript %}
    {% if valid %}
        <script>
        swal({icon:'success', text: "Thank you! We will email you with the results as soon as its been processed. Plexpect at least 48 hours.", button: false});
        </script>
    {% endif %}
    <script type="text/javascript">

        function list3Changed() {
            var str = "", i;
            for (i = 0; i < displayform.list3.options.length; i++) {
                if (displayform.list3.options[i].selected) {
                    str = str + '<span class="badge badge1">'
                        + displayform.list3.options[i].value + '</span> ';
                }
            }
            document.getElementById("demo3").innerHTML = 'Selected choice from list: ' + str;
        }

    </script>
{% endblock %}